@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=block');

@font-face {
    font-family: "Modum";
    font-display: block;
    src: url('../fonts/Modum.woff2') format("woff2"),
         url('../fonts/Modum.otf') format('opentype');
}

@font-face {
    font-family: "Modum";
    font-display: block;
    src: url('../fonts/Modum Italic.woff2') format('woff2'),
         url('../fonts/Modum Italic.otf') format('opentype'); 
    font-style: italic;
}

@font-face {
    font-family: "Modum";
    font-display: block;
    src: url('../fonts/Modum Bold.woff2') format('woff2'),
         url('../fonts/Modum Bold.otf') format('opentype'); 
    font-weight: bold;
}

@font-face {
    font-family: "Modum";
    font-display: block;
    src: url('../fonts/Modum Bold Italic.woff2') format('woff2'),
         url('../fonts/Modum Bold Italic.otf') format('opentype'); 
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Modum Extra";
    font-display: block;
    src: url('../fonts/Modum ExtraBold.woff2') format('woff2'),
         url('../fonts/Modum ExtraBold.otf') format('opentype'); 
    font-weight: bold;
}

@font-face {
    font-family: "Epilogue";
    font-display: block;
    src: url('../fonts/Epilogue-Light.woff2') format('woff2');
    font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=block');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=block');

body {
	font-weight: 400;
    max-width: 720px;
	font-family: "Modum", serif;
	font-size: 13pt;
    line-height: 1.8em;
}

p {
    margin-top: 1.5em;
}

h1, h2, h3, h4 {
	font-weight: 700;
	font-family: "Arvo", serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

.outline {
    font-family: "Arvo", serif;
    font-weight: normal;
}

h1 {
    font-size: 2.4rem;
    margin-top: 0em;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1rem;
    font-weight: 400;
}

.toc .chapter-body {
    font-size: 12pt;
    line-height: 1.6em;
}

.subtitle {
    margin-bottom: 0em;
}

.chapter-number {
    font-family: "Arvo", serif;
    color: black;
}

.section-name {
    font-family: "Modum", serif;
    font-size: small;
}

.reference {
    font-family: "Modum";
    list-style-position: outside;
}

ol li.reference::before {
    color: black;
}

.callout {
    font-size: 11pt;
    border: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 2em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1.6em;
}

.callout h2, .callout h3, .callout h4 {
    margin-top: 0;
}

.authors {
    font-family: "Modum";
    font-style: italic;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.outline-header {
    text-indent: 0;
}

.outline-header a {
    color: rgb(180,180,180);
}

.outline-header-active a {
	color: black;
}

.outline-header a:hover, a:hover .navigation-footer {
    text-decoration: underline;
    color: black;
    font-weight: normal;
}

code {
    font-family: "DM Mono", monospace;
}

.blockquote {
    border: none;
    font-family: "Arvo";
    font-weight: 400;
    font-style: italic;
    padding: 0em;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

.blockquote > p {
    margin: 0;
    padding: 0;
}

.blockquote:before {
    content: "\201C";
    position: relative;
    top: 80pt;
    left: -40pt;
    font-family: "Modum Extra";
    font-size: 120pt;
    font-weight: bold;
    color: #E8AF22;
    z-index: -1;
}

blockquote .blockquote-caption {
    margin-top: 0.5em;
    text-align: right;
    font-family: "Arvo";
    font-style: italic;
    color: #424242;
}

.blockquote-caption:before {
    content: "--";
    margin-right: 0.25em;
}

.footnote-symbol, .citation-symbol {
    font-family: "Modum";
    font-weight: normal;
    color: #1B499C;
}

.footnote {
    font-family: "Epilogue";
    font-weight: 300;
    font-size: 10pt;
    line-height: 1.5em;
}

.content-highlight {
    border: none;
	animation: pulse 3s 1;
}

@keyframes pulse {
	0% { background-color: white; }
	10% { background-color: #ffda80; }
	20% { background-color: white; }
	30% { background-color: #ffda80; }
	40% { background-color: white; }
	50% { background-color: #ffda80; }
	100% { background-color: white; }
}


a {
    color: #1B499C;
}

li {
    margin-bottom: 1em;
}

ul li {
    list-style: none;
}

ul li::before {
    content: "*";
    color: #EB2C27;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-family: "M Plus Rounded 1c";
}

ol {
    list-style: none;
    counter-reset: item;
}

ol li {
    counter-increment: item;
}

ol li {
	list-style-type: none;
}

ol ol li {
	list-style-type: none;
}

ol ol ol li {
	list-style-type: none;
}

ol li::before {
    content: counter(item) ". ";
    color: #EB2C27;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right; 
}

ol ol li::before {
    content: counter(item, lower-alpha) ". ";
}

ol ol ol li:before {
    content: counter(item, upper-alpha) ". ";
}

.callout ol, .callout ul {
    padding-left: 1em;
}

.chapter .table {
    border-collapse: separate;
    border-radius: 6px;
    border-spacing: 0;
    border: 1px solid #E0E0E0;
}

.chapter .table tbody tr:first-child {
    border: 0;
    background-color: #E9dbc5;
}

.chapter .table tbody tr:first-child td {
    font-weight: bold;
    border: 0;
    border-bottom: 1px solid #E0E0E0;
}

.chapter .table tbody tr:nth-child(even) {
    background-color: #F1F1F1;
}

.chapter table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
.chapter table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
.chapter table tr:first-child td:first-child {
    border-top-left-radius: 6px;
}
.chapter table tr:first-child td:last-child {
    border-top-right-radius: 6px;
}

.chapter .table td {
    font-size: 11pt;
    border: 0;
}

.figure-img {
    margin-bottom: 0;
}

.figure-caption {
    font-size: 11pt;
}

hr {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 3em;
}

.terminology .marginal-interactor {
	border-bottom: 2px solid #1B499C;
}

.definition {
	display: block;
    background: linear-gradient(to right, #1B499C 0px, #1B499C 2px, transparent 2px) no-repeat right;
	padding-left: 0.75rem;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.terminology .marginal-interactor.marginal-hovered {
    border-bottom-color: #1B499C !important;
    border-bottom-width: 3px;
}

.terminology .marginal.marginal-hovered .definition {
    background: linear-gradient(to right, #1B499C 0px, #1B499C 3px, transparent 3px) no-repeat right;
}

.definition em {
	color: grey;
}

.tag {
    background-color: #E0E0E0;
    font-weight: bold;
    text-transform: uppercase;
}

/* Highlight JS colors */

/* Default color */
.hljs,
.hljs-title,
.hljs-params,
.hljs-section {
    color: black;
}

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #257f31;
}

.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #EB2C27;
}

.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-string,
.hljs-symbol,
.hljs-meta,
.hljs-link
.hljs-bullet,
.hljs-addition {
    color: #1B499C;
}

.hljs-type,
.hljs-attribute,
.hljs-keyword,
.hljs-selector-tag {
  color: #E8AF22;
}